{% load static %}

<!DOCTYPE html>

<html>
	<head>
		<title></title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

		<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>
	</head>
  <style>
    body{
      height: 100%;
      padding:0px;
      background-color : purple;
    }
    .box{
      display:flex;
      flex-direction:row;
      justify-content: space-evenly;
      
      height:100%;
      width:100%;
    }
    .box > div{
      width: 25%;
      height:100%;
      background-color : orange;
    }
    .center {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				margin: auto;
			}
    
  </style>
	<body>
		<!-- Your layout here -->
    <div class="box center">
			<div></div>
			<div></div>
			<div></div>
		</div>

	</body>
</html>